.hero-section {
  padding: 140px 20px;
}

.pricing-img {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 0 auto;
}

.img-row {
  padding: 40px 20px 0;
}

.img-row .col-4 {
  padding: 0 20px;
}
